/** Bebas Neue **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/** Raleway **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/** Inter **/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 2.5rem;
    margin-left: 0.7rem;     
}

.nav-items {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.nav-items a {
    color: #000;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}

.nav-right {
    margin: 0 1rem;
}

.nav-right a {
    color: #000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.nav-right .login-signup {
    padding: 5px 10px;
    margin: 3px;
    border-radius: 0.9rem;
    transition: all 0.15s linear;
}

.nav-right .login-signup:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.nav-user img {
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .15s linear;
}

.nav-user img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.profile-container {
    border-radius: 0.7rem;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
    max-width: fit-content;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.profile-container img {
    height: 70px;
}

.profile-container h2 {
    font-family: "Raleway";
    font-weight: 800;
    letter-spacing: 0.05rem;
}

.dashboard-btn {
    padding: 12px;
    min-width: max-content;
}

.dashboard-btn a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 2rem;
    padding: 10px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 0.9rem;
    color: #000;
    cursor: pointer;
    transition: .3s ease;
}

.dashboard-btn a:hover {
    color: #fff;
    background-color: #000;
}

.action-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.action-btn .btn {
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 2rem;
    padding: 10px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 0.9rem;
    color: #000;
    cursor: pointer;
    transition: .3s ease;
}

.action-btn .btn:hover {
    color: #fff;
    background-color: #000;
}

.action-btn .logout {
    text-decoration: none;
}

.edit-details-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 999;
}

.edit-details-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 0.7rem;
    max-width: fit-content;
    text-align: center;
    transform: scale(0.95);
    transition: transform .3s ease;
}

.edit-details-overlay.visible .overlay-content {
    transform: scale(1);
}

.edit-details-overlay .overlay-content form {
    text-align: center;
    line-height: 1.2;
}

.edit-details-overlay .overlay-content table {
    text-align: left;
    width: 100%;
}

.edit-details-overlay .overlay-content table td {
    padding: 10px 0;
}

.edit-details-overlay .overlay-content label {
    font-size: 0.8rem;
}

.edit-details-overlay .overlay-content input {
    width: 100%;
    padding: 5px 0;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

.edit-details-overlay .overlay-content input:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.password-field {
    position: relative;
    display: block;
}

.password-field i {
    cursor: pointer;
}

.show, .hide {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
}

.hide {
    display: none;
}

.edit-details-overlay .overlay-content .btn-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.edit-details-overlay .overlay-content button {
    font-size: 0.9rem;
    font-family: nunito, sans-serif;
    cursor: pointer;
    padding: 10px 40px;
    color: #000;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

.edit-details-overlay .overlay-content button:hover {
    color: #fff;
    background-color: #000;
}